// ** start header **********
header#header.l-header
  .l-header__inr
    //- if pageId === 'top'
    //-   h1.l-header__logo
    //-     a(href=`${dir}index.html`)
    //-       +image(`common/logo.svg`, {alt: '', ratio: false, sp: false, lazy: false})
    //- else
    //-   .l-header__logo
    //-     a(href=`${dir}index.html`)
    //-       +image(`common/logo.svg`, {alt: '', ratio: false, sp: false, lazy: false})
// ** end header **********
| #{'\n'}
